

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}


/*Transition Name*/
@keyframes transitionLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*Transition Picture*/
@keyframes transitionRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*Hi Transition*/
@keyframes welcome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 768px) {
  nav {
    display: none;
  }

  .home-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .intro-text {
    text-align: center;
  }

  .blob1 {
    height: 40vh;
    width: 35vw;
    top: 0;
    right: 0;
    position: absolute;
    background-image: url('./components/img/blobrightcorner.svg');
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: top right;
    object-fit: cover;
  }
  

}

@media (min-width: 769px) {
  .intro-text {
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


}
/* Nav Bar */


body {
  background-color: #002233;
}


nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

nav li {
  color: white;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.blob1 {
  height: 70vh;
  width: 35vw;
  top: 0;
  right: 0;
  position: absolute;
  background-image: url('./components/img/blobrightcorner.svg');
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: top right;
  object-fit: cover;
}

.blob2 {
  height: 90vh;
  width: 25vw;
  bottom: -50vh;
  left: 0;
  position: absolute;
  background-image: url('./components/img/blob\ left\ corner.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top right;
  object-fit: cover;
}

/* Home Page */

.welcome {
  animation: welcome 5s;
}

.intro-text h1 {
  text-decoration: 4px underline #5C68E2;
  text-underline-offset: 1vh;
  text-decoration-skip-ink: none;
  color: white;
  animation: transitionLeft 2s;
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.intro-text h2, .intro-text h4 {
  color: #cbcbcb;
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.intro-text h4 {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.icon-contain {
  width: 50%;
  height: 50%;
  text-align: center;
}

i {
  margin: 0;
  color: #5C68E2;
  cursor: pointer;;
  
}

.nav-body {
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 8.33%;

  padding-left: 0;
  padding-right: 0;
}

.home {
  width: 100%;
  height: 91.67%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12vw;
}

.home-content {
  width: 100%;
  position: relative;
  top: -5vh;
}



.circle {
  width: min(45vw, 45vh);
  height: min(45vw, 45vh);
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
  background-image: url('./components/img/_DSC9440.jpg');
  background-position: 50% 32%;
  border: 7px solid #5C68E2;
  background-size: 350%;
  animation: transitionRight 3s;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.5));
}

.circle img {
  object-fit: cover;
} 

/*
.page-container {
  background-image: url('./components/img/blob-scene-1.svg');
  background-size: 100% auto; 
  z-index: -1;
  padding-bottom: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;

}
*/


/* Body Page */



/* About Page */
.about h2 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* Skills Page */

.skill-head h4 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* Projects */

.project-container {
  position: relative;
  overflow: hidden;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

.project-container:hover .info {
  transform: translateY(0);
}



/* VizDAS */
.vizdas-header h1 {
  padding-left: 8.3vw;
}

.vizdas-contain {
  padding: 0 8.3vw;
}




/* Fonts */
.black {
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.bold {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.semiBold {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.extraBold {
  font-family: "proxima-nova", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.boldItalic {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: italic;
}