

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}


@keyframes transitionLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes transitionRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}


@media (max-width: 768px) {
  nav {
    display: none;
  }

  .home-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .intro-text {
    text-align: center;
    border: 1px solid red;
  }

  .blob1 {
    height: 40vh;
    width: 35vw;
    top: 0;
    right: 0;
    position: absolute;
    background-image: url('./components/img/blobrightcorner.svg');
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: top right;
    object-fit: cover;
  }
  

}

@media (min-width: 769px) {
  .intro-text {
    text-align: left;
    border: 1px solid brown;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


}
/* Nav Bar */
body {
  background-color: #002233;
}

nav {
  border: 1px solid black;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

nav li {
  color: white;
}

.blob1 {
  height: 70vh;
  width: 35vw;
  top: 0;
  right: 0;
  position: absolute;
  background-image: url('./components/img/blobrightcorner.svg');
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: top right;
  object-fit: cover;
}

.blob2 {
  height: 90vh;
  width: 25vw;
  bottom: -50vh;
  left: 0;
  position: absolute;
  background-image: url('./components/img/blob\ left\ corner.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top right;
  object-fit: cover;
}

/* Home Page */

.intro-text h1 {
  text-decoration: 4px underline #5C68E2;
  text-underline-offset: 1vh;
  text-decoration-skip-ink: none;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  animation: transitionLeft 2s;
}

.intro-text h2, .intro-text h4 {
  color: #cbcbcb;
}

.test2 {
  border: 1px solid green;
}

.nav-body {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding-top: 8.33%;
  border: 1px solid red;
  padding-left: 0;
}

.home {
  width: 100vw;
  height: 91.67%;
  margin-bottom: 0;;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  border: 1px solid black;
}

.home-content {

  width: 100%;
  position: relative;
  top: -5vh;
  padding-right: 5vw;
  padding-left: 5vw; 
  border: 1px solid blue;
}



.circle {
  width: min(45vw, 45vh);
  height: min(45vw, 45vh);
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
  background-image: url('./components/img/_DSC9440.jpg');
  background-position: 50% 32%;
  border: 4px solid #5C68E2;
  background-size: 350%;
  animation: transitionRight 3s;
}

.circle img {
  object-fit: cover;
} 

/*
.page-container {
  background-image: url('./components/img/blob-scene-1.svg');
  background-size: 100% auto; 
  z-index: -1;
  padding-bottom: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;

}
*/



/* About Page */
.about {

}