@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .pill {
    @apply rounded-full bg-purple text-white px-2 py-1 hover:bg-white hover:text-purple;
  }

  .btn-link {
    @apply w-1/2 px-1 py-1 bg-purple text-white rounded-md text-center no-underline hover:bg-white hover:text-purple;
  }

  .project-square {
    @apply mb-5 w-96 rounded-md border-[#999999] drop-shadow-xl h-80 flex justify-center border-2;
  }

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

